* {
  box-sizing: border-box;
}

.box{
  color: wheat;
  background-color: darkcyan;
  height: 200px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 10px;
}

.exit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  color: darkcyan;
  background-color: wheat;
  margin: 10px;
  min-width: 20px;
  min-height: 20px;
}

.peace {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  color: darkcyan;
  background-color: wheat;
  margin: 10px;
  min-width: 20px;
  min-height: 20px;
}



