* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body { height:100%; }

.purp {
background-color: purple;
color: aliceblue;
height: 60px;
display: flex;
align-items: center;
padding-left: 10px;
}

.blue {
  background-color: lightseagreen;
  height: 100%;
  width: 250px;
  padding: 10px;
  color: aliceblue;
  display: flex;
}

#jedan , .dva , .tri{
  padding-bottom: 5px;
}

.boxes{
  
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
 margin: 30px;
}

.solo{
  display: flex;
  height: 100%;
}

#text{
  height: 200px;
  width: 300px;
  flex-wrap: wrap;
  
  display: flex;
  align-items: flex-start;
padding: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.bottom{
  height: 60px;
  background-color: silver;
  display: flex;
  align-items: center;
  justify-content: center;
}